header{
    text-align: center;

}section{
    background-color: #00ffdd;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 100px;
    margin: auto;

}footer{
    text-align: center;
    margin-top: 30px;

}button{
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px 10px 10px;
}a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}p{
    color: #ffffff;
}h1{
    font-size: 40px;
    color: white;
}button{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 50px;
    font-size: 25px;
}h2{
    margin-top: -20px;
    font-size: 20px;
    color: white;
}

/*ID*/

#temporizador{
    font-weight: bold;
    font-size: 30px;
    width: 170px;
    margin: auto;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}#pontos{
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: 1px solid;
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 100px;
    background-color: #000000;

}#perdeGanha{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

}#background{
    background-color: #000000;
    color: black;
    font: 15pt normal;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}#headline{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    border: 1px solid;
    border-color: white;
    background-color: #000000;
    padding: 10px 20px 10px 20px;
    
}